name: Check
on:
  push:
  schedule:
    - cron: "41 * * * *"
jobs:
  publish:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: latest
      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16
          registry-url: 'https://registry.npmjs.org'
          scope: caniuse-lite
          cache: pnpm
      - name: Check caniuse-db version
        id: caniuse
        run: node ./check.js
      - name: Check @mdn/browser-compat-data version
        id: mdn
        if: steps.caniuse.outputs.newVersion
        run: node ./check-mdn-bcd.js
      - name: Setup git config
        if: steps.caniuse.outputs.newVersion
        run: |
          git config user.name "Auto-Updater"
          git config user.email "<andrey+caniuse@sitnik.ru>"
      - name: Install dependencies
        if: steps.caniuse.outputs.newVersion
        run: pnpm install --frozen-lockfile --ignore-scripts
      - name: Copy MDN data
        if: steps.caniuse.outputs.newVersion
        run: node ./copy-mdn.js
      - name: Pack Can I Use data
        if: steps.caniuse.outputs.newVersion
        run: pnpm run pack
      - name: Run tests
        if: steps.caniuse.outputs.newVersion
        run: pnpm unit
        env:
          FORCE_COLOR: 2
      - name: Commit changes
        if: steps.caniuse.outputs.newVersion
        run: node ./commit.js
      - name: Publish
        if: steps.caniuse.outputs.newVersion
        run: ./node_modules/.bin/clean-publish &> publish.log
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
      - name: Check npm log
        if: steps.caniuse.outputs.newVersion
        run: node ./log.js
      - name: Push changes
        if: steps.caniuse.outputs.newVersion
        run: git push --follow-tags
